# git
.git

# vscode
.vscode

# rollup
rollup

# project file
node_modules
public
client.js

.editorconfig
.env
.env.example

.eslintignore
.eslintrc.yml

.gitignore

.npmignore

.prettierignore
.prettierrc.yml

package-lock.json


